.btn-guild {
  display: flex;
  text-decoration: none;
  color: black;
  border: 2px solid #FCA311;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  transition: 0.2s ease;
  border-radius: 5px;
}

.btn-guild:hover {
  color: white;
  background-color: #FCA311;
  transition: 0.2s ease;
}
